/* Global Styles All of the pages affected by this....*/

/* Landscaping Logo Vector Art, Icons, and Graphics for Free Download (vecteezy.com) */
.logo {
    float: right;
    width: 100px;
    height: auto;
    margin-top: -75px;
    margin-right: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007B3E;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: #ffffff;

    font-weight: bold;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* /////////////////////////////////////////////HOME///////////////////////////////////////////////// */

.section-container {
    display: flex;
}

.section1 {
    background-color: #f8f0e4;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
}

.section2 {
    background-color: #f8f0e4;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
}

.section3 {
    background-color: #f8f0e4;
    width: 35%;
    padding: 72px;
    box-sizing: border-box;
}

.section1 img,
.section2 img,
.section3 img {
    max-width: 100%;
    height: auto;
}

.section1 div,
.section2 div,
.section3 div {
    margin-top: 20px;
}

/* /////////////////////////////////////////SERVICES///////////////////////////////////////////////// */

body {
    background-color: #f8f0e4;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.services-section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    max-width: 100%;
}

main {
    max-width: fit-content;
    margin: auto;
}

.space {
    margin-left: 30px;
}

/* //////////////////////////////////////////CONTACT US/////////////////////////////////////////////////////////// */

.contact-method {
    background-color: #f8f0e4;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

.contact-option {
    margin-bottom: 10px;
}

.contact-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.contact-option p {
    margin: 10px 0;
}

/* Adjustments for small screens */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}